.main-container{
    padding: 20px 0px;
    width: 80vw;
    height: 300px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.drives-container{
    width: 100%;
}

@media only screen and (max-width:600px){
    .main-container{
        padding: 10px 10px;
        width: 90vw;
        height: 300px;
    }
}